<h1>Step 1: Choose your Model and color</h1>
Model:
<select ngModel #car="ngModel" [ngModel]="selectedCar()" (change)="handleSelectCar(car.value)">
  <option [ngValue]="undefined">Choose...</option>
  @for (model of allModels(); track model.code) {
    <option [ngValue]="model">{{ model.description }}</option>
  }
</select>

Color:
<select
  [disabled]="!selectedCar()"
  ngModel
  #color="ngModel"
  [ngModel]="selectedColor()"
  (change)="handleSelectColor(color.value)"
>
  <option [ngValue]="undefined">Choose...</option>
  @for (color of colors(); track color.code) {
    <option [ngValue]="color">{{ color.description }}</option>
  }
</select>

@if (selectedImage()) {
  <div>
    <img [src]="selectedImage()" />
  </div>
}
