<h1>Step 3: Summary</h1>
<h3>Your Tesla {{ selectedCar()?.description }}</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <b>{{ selectedConfig()?.description }}</b>
      </div>
      <div>
        Range: {{ selectedConfig()?.range }} miles - Max speed:
        {{ selectedConfig()?.speed }} mph
      </div>
    </div>
    <div class="col-sm-6">{{ selectedConfig()?.price | currency }}</div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>{{ selectedColor()?.description }}</b>
    </div>
    <div class="col-sm-6">{{ selectedColor()?.price | currency }}</div>
  </div>

  @if (yoke()) {
    <div class="row">
      <div class="col-sm-6">
        <b>Yoke Steering Wheel</b>
      </div>
      <div class="col-sm-6">{{ 1000 | currency }}</div>
    </div>
  }

  @if (tow()) {
    <div class="row">
      <div class="col-sm-6">
        <b>Tow Hitch Package</b>
      </div>
      <div class="col-sm-6">{{ 1000 | currency }}</div>
    </div>
  }
  <hr />

  <div class="row">
    <div class="col-sm-6">
      <b>TOTAL COST</b>
    </div>
    <div class="col-sm-6">{{ finalPrice() | currency }}</div>
  </div>
  <hr />
</div>
